<app-header></app-header>
<!-- 
<div class="sidebar" >
    <p class="p-4">PRODUCTS</p>
    <div *ngFor="let items of categories">
    <a (click)="getProductsByCategory(items.categoryType)">{{items.categoryType}}</a>
  </div>
  </div> -->

  
  <!-- <div class="container">
    <div class="row">
      <div class="col-12">
          <table class="table table-image">
            <thead>
              <tr>
                
                <th scope="col">Name</th>
                
              </tr>
            </thead>
            <tbody *ngFor="let items of object">
              <tr>
                <td>{{items.price?? 'N/a'}}</td>
              </tr>
              <tr>
                <td>{{items.price?? 'N/a'}}</td>
              </tr>
            </tbody>
          </table>   
      </div>
    </div>
  </div> -->
  <!-- <div class="wrapper">
    <div class="container">
        <div class="left">
            <div class="top">
                <input type="text" placeholder="Search" />
                <a href="javascript:;" class="search"></a>
            </div>
            <ul class="people" *ngFor="let items of users">
                <li class="person" data-chat="person1">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/thomas.jpg" alt="" />
                    <span class="name" (click)="fire(items.userName)">{{items.userName}}</span>
                    <span class="time">2:09 PM</span>
                    <span class="preview">I was wondering...</span>
                </li>
            </ul>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name">Dog Woofson</span></span></div>
            <div class="chat" data-chat="person1">
                     
                <div class="write">
                <a href="javascript:;" class="write-link attach"></a>
                <input type="text" />
                <a href="javascript:;" class="write-link smiley"></a>
                <a href="javascript:;" class="write-link send"></a>
            </div>
        </div>
    </div>
</div> -->



<div class="container clearfix">
    <!-- <div class="people-list" id="people-list">
      
      <ul class="list" >
          <div *ngFor="let items of users" >
        <li class="clearfix" *ngIf="items.userName!==self"  (click)="fire(items.userName)" >
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
                <div class="about">
                  <div class="name">{{items.userName}}</div>
                  <div class="status">
                    <i class="fa fa-circle online"></i> online
                  </div>
                </div>
            </li>
            </div>
        
      </ul>
    </div> -->
    
    <div class="chat">
      <div class="chat-header clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />
        
        <div class="chat-about">
          <!-- <div class="chat-with">{{chatwith}}</div> -->
          <div class="chat-num-messages">already 1 902 messages</div>
        </div>
        <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->
      
      <div class="chat-history">
        <ul >

        <!-- <ul> -->
<!--           
          <li *ngFor="let conversationList2 of conversationList" class="clearfix">
            
        

           
            <div *ngIf="conversation1.from===chatwith || conversation1.from===self">

              <div [ngClass]="{'message-data align-right':conversation1.from===self,'message-data':conversation1.from!==self }"  >
                <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
                <span class="message-data-name" >{{conversation1.from}}</span> <i class="fa fa-circle me"></i>
                
              </div>
              <div class="message" [ngClass]="{'other-message float-right':conversation1.from!==self,'my-message':conversation1.from===self}">
                {{conversation1.message}}
              </div>

        

            

        
          </li> -->
          
          <!-- <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
              <span class="message-data-time">10:12 AM, Today</span>
            </div>
            <div class="message my-message">
              Are we meeting today? Project has been already finished and I have results to show you.
            </div>
          </li>
           -->
        </ul>
        
      </div> <!-- end chat-history -->
      
      <div class="chat-message clearfix">
        <!-- <textarea name="message-to-send" id="message-to-send" [(ngModel)]="messageArea" placeholder ="Type your message" rows="3"></textarea>
                
        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>
        
        <button (click)="sendMessage()" >Send</button> -->

      </div> <!-- end chat-message -->
      
    </div> <!-- end chat -->
    
  </div> <!-- end container -->

<script id="message-template" type="text/x-handlebars-template">
  <li class="clearfix">
    <div class="message-data align-right">
      <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
      <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">
      {{messageOutput}}
    </div>
  </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
  <li>
    <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
      <span class="message-data-time">{{time}}, Today</span>
    </div>
    <div class="message my-message">
      {{response}}
    </div>
  </li>
</script>










