.sizeimg{

    max-width: 10%;
}
.sizeimgcontent{

    max-width: 40%;
}
 .address{
    padding-top: 16px;
    padding-bottom: 16px;
 } 


 .webkit{
    width: -webkit-fill-available;
 }
 .addresscheckbox
 {
    padding-top: 27px;
    padding-bottom: 8px;
 }
 .listitmes{
    padding: 10px;
 }
 .labeladdress
 {
    padding: 2px;
 }

 .labeladdresscity
 {
    padding-left: 13px;
 }