.sizeimg {

   max-width: 10%;
}
.webkit {
   width: -webkit-fill-available;
}
.addresscheckbox {
   padding-top: 27px;
   padding-bottom: 8px;
}
.listitmes {
   padding: 10px;
}
.labeladdress {
   padding: 2px;
}
.labeladdresscity {
   padding-left: 13px;
}